body{
    background-image: url("/form-background.jpg");
  }

  .loginForm{
    background-color: rgb(255, 255, 255);
    color: #2c6a75;
    width: 500px;
    padding: 40px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  }

  .loginBtn {
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: transparent;
    background-color: #2c6a75 !important;
    border-color: transparent !important;
    color: white;
    transition: background-color 0.3s;
    margin-top: 15px;
  }
  
  .loginBtn:hover{
    background-color: rgb(31, 59, 65) !important;
  }

  .loginBtn:active{
    background-color: rgb(48, 90, 99)!important;
  }

.topicText {
    margin-bottom: 20px; 
    color: #2c6a75;
}

.backbtn{
  background-color: rgb(79, 147, 160);
  border: transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.addAssistTitle{
  font-size: 24px;
  color: #ffffff !important;
}

.addAssisttextbox {
  margin-bottom: 15px;
}

.model-head{
  color : white !important;
  background-color:#2c6a75 !important ;
}

.genderBoxBorder {
  border: 1px solid #4e494925;  /* Border around the group */
  padding: 15px;           /* Space inside */
  border-radius: 8px;      /* Rounded edges */
  position: relative;      /* Needed for label positioning */
  margin-top: 15px;
  margin-bottom: 15px;
}

.genderLabel {
  position: absolute;
  top: -12px;              /* Moves the label up */
  left: -10px;              /* Adjusts label position */
  background: white;       /* Matches background to blend */
  padding: 0 8px;          /* Adds space around text */
}

.allergy-box{
  margin-top:10px
}

.submit-btn{
  background-color: #2c6a75 !important;
  font-size: medium !important;
  border-color: transparent !important;
}

.submit-btn:hover{
  background-color: #1b434a !important;
}

.allergy-btn{
  background-color: #ffffff !important;
  border-color: #2c6a75 !important;
  color: #2c6a75 !important; 
}

.allergy-btn:hover{
  background-color: #2c6a75 !important;
  color : white !important;
}

.model-head .btn-close {
  filter: invert(1); /* turns the black X icon white */
}

.model-head .btn-close:hover {
  background-color: transparent;
}


