body{
    background-image: url("/form-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .loginForm{
    background-color: rgb(255, 255, 255);
    color: #2c6a75;
    width: 500px;
    padding: 40px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  }

  .loginBtn{
    background-color: rgb(67, 131, 144);
    color: white;
    border: transparent;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .loginBtn:hover{
    background-color: rgb(63, 119, 131);
  }

  .loginBtn:active{
    background-color: rgb(48, 90, 99)!important;
  }

.backFormContainer {
    align-items: center; /* Center horizontally */
    height: 60vh; /* Adjust height to fit the screen */
    text-align: center; /* Center text inside */
    margin-top: 50px;
    padding: 20px;
    border-radius: 30px;
}

.topicText {
    margin-bottom: 20px; 
    color: #2c6a75;
}

.row {
    display: flex;
    justify-content: center; /* Center buttons */
    gap: 20px; /* Add spacing between buttons */
}

.backNavBar {
    background-color: rgba(255, 255, 255, 0.364); 
    padding-left: 10px;
    padding-right: 30px; 
  }

.backNavBar .navbar-brand {
    font-size: 2rem; /* Name of the medical center */
    color: rgb(21, 108, 125);
  }

.backbtn{
  background-color: rgb(79, 147, 160);
  border: transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}