
.table-bordered {
    border: 1px solid #dcdbdb !important ;/* Light border color */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  
  .table-bordered th,
  .table-bordered td {
    padding: 10px; /* Add padding to each cell */
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1; 
  }
  
 
  .table-hover {
    cursor: pointer;
  }
  
  .table-hover tbody tr {
    transition: background-color 0.3s ease; 
  }
  
  .table-hover tbody tr.selected {
    background-color: #86ccd561;
  }
  
  .table-hover tbody tr:not(.selected):hover {
    background-color: #e0f7fa;
  }
  

  .table-light th {
    background-color: #f8f9fa;
    color: #6c757d; /* Light grey text color */
    font-weight: bold;
  }
  
  .text-muted {
    color: #6c757d; 
  }

  .loginBtn {
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: transparent;
    background-color: #2c6a75 !important;
    border-color: transparent !important;
    color: white;
    transition: background-color 0.3s;
    margin-top: 15px;
  }

  .loginBtn:hover{
    background-color: rgb(31, 59, 65) !important;
  }

  .loginBtn:active{
    background-color: rgb(48, 90, 99)!important;
  }
  