.welcomePageTopic{
  margin-top: 300px;
  color: #0f396d;
  font-size: 50px;
}

.welcomebtn{
    background-color: #12488a;
    border: 1px solid #56A2FC;
    padding: 20px;
}
.welcomeNavBar {
  background-color: rgba(255, 255, 255, 0.586); 
  padding-left: 10px;
  padding-right: 30px;  /* Padding of the navbar */
}

.welcomeNavBar .navbar-brand {
  font-size: 2rem; /* Name of the medical center */
  color: #1a879a;
}

.welcomeNavBar .nav-link { /* The links in the navbar */
  font-size: 1.3rem;  
  padding: 10px 15px; 
  margin-right: 40px;
}

.welcomeNavBar .btn { /* Login button in the navbar */
  font-size: 1.3rem; 
  padding: 10px;
}

